@font-face {
    font-family: 'jacques_francoisregular';
    src: url('./font/jacquesfrancois-regular-webfont.woff2') format('woff2'),
        url('./font/jacquesfrancois-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #e0d0c1 !important;
    height: 900px;
    font-family: 'jacques_francoisregular'!important;
    
   initial-letter: 5px;


}

.header {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    background-color: #F9EAF4;
    flex-direction: row-reverse;
    box-shadow: 2px 2px 10px grey;


}

.texte{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 55px!important;
    /* position: absolute; */
}
    
#pic{
    /* position: absolute; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-left: 20px;
}

 
 
.container{
/* background-color: blue; */
    display: flex;
    justify-content: space-between; 
}  



#text{
    text-align: center;
    margin: 0% !important;
    width: 80%;
   
    
}
#info {
    display: flex;
    flex-direction: column ;
    margin: auto;
    margin-top: 0%!important;
    text-align: center;
    /* border-right: 2px solid black; */
    width: 20%;
    border-right: 2px ridge #AD5D4E;
    /* box-shadow: 1px 1px 10px #F9EAF4; */


}

    


/* #arrow {
    display: flex;
    justify-content: end;
  
} */

.img{ display: flex;
}

#log2{ margin-left: 10px;
    margin-right: 10px;

}

/* 
footer{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
} */

  

#metier{
    color: #AD5D4E;
   font-weight:bold !important;
   font-size: xx-large;
  
}

#text,p{
    margin: auto;
}


h3{
    color: #AD5D4E;
   font-weight:bold !important;
 

}

#formation {
    
    text-align: center;
   

}

/* 
.texte{ 
    
    text-align:justify;
}

.card{

} */




/* .composed{ */
    /* display: flex;
    justify-content: space-between;
    */
/* } */



#titlexp{
    color: #AD5D4E;
   font-weight:bold !important;
   font-size: xx-large;
  
 
    display:flex;
    justify-content: center;
    
   

}
/* #wood {
    position: relative;
     */
   
    
/* } */


#aesh, #pain, #kuik, #mopa {
    clip-path: ellipse(33% 50%);
    width: 150px;

}

#mopa {
    clip-path: ellipse(33% 40%);
}
footer{
    margin-top: 5cm;
}



.composed{display:flex;
justify-content: center;
margin-top: 10px;
align-items: center;

}

 .date {

display: flex;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color :#AD5D4E;
    
  }

  .musee{display: flex;
    align-items: flex-start;
    flex-direction: column;

  }

  .list1,.list2,.list3{display: flex;
}



hr.style-one {
    border: 0;
    height: 3px;
    background:#AD5D4E;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    }
 


@media screen and (max-width: 480px) {

    .body {
        width: 90%;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }

   
  
    #pic { width: 50px;
        display: flex;
        justify-content: flex-start;
        margin-left: none;
        margin-bottom: 20%;
        margin-right: 5%;

    }

    #info {
        border: none;
       justify-content: flex-start;
       align-items: flex-start;
    }
.body{display: block !important;
   
}

.musee {display:block !important;
}
.text2{
    display: block;
}

.bread {
    display: block;
}



}
 